*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    width: fit-content;
}

.cell {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    aspect-ratio: 1;
    margin: 5px;
    border-radius: 10%;
    font-size: 4rem;
}

.cell > p {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.columns > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.word-input {
    border: 1px solid black;
    border-radius: 1000px;
    width: 100%;
    height: 50px;
    margin: 20px 0px;
    padding: 0px 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.QU {
    font-size: 3rem;
}

.word-input:focus {
    outline: none;
}