*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timer {
    width: 150px;
    height: 65px;
    border-radius: 500px;
    border: 4px solid #000;
    box-shadow: 0px 4px 0px #000;
    position: absolute;
    z-index: 99;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #fff;
    font-weight: 900;
    -webkit-text-stroke: 2.5px #000;
    text-shadow: 0px 3px 0px #000;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameCont {
    margin: 0 auto;
    max-width: 950px;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
}

.boardCont {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-gap: 10px;
}

.players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.solo {
    grid-template-columns: repeat(1, 1fr);
}

.gameInput {
    width: 100%;
    height: 50px;
    border-radius: 1000px;
    border: 4px solid #000;
    box-shadow: 0px 3px 0px #000;
    padding-left: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    outline: none;
}

.gameInput:focus {
    box-shadow: 0px 1px 0px #000;
    transform: translateY(2px);
}

.gameSubmit {
    display: none;
}

.chatCont {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    transform: translateX(100%);
    background: #fff;
    transition: all 0.3s cubic-bezier(.85, 1.76, .75, .81);
}

.toggleChat {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transform: translateX(0px);
    transition: all 0.3s cubic-bezier(.85, 1.76, .75, .81);
}

/* .salonsCont {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.salonRejButton {
    width: 150px;
    height: 60px;
    border: 3.5px solid #000;
    border-radius: 10px;
    box-shadow: 0px 3px 0px #000;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 900;
    animation: appear 0.25s cubic-bezier(.85, 1.76, .75, .81);
}

.salonRejButton:active {
    box-shadow: 0px 1px 0px #000;
    transform: translateY(2px);
}

/* ... Vos autres styles ... */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.popup-content {
    color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    border: solid 4px black;
    text-align: center;
    box-shadow: 0px 5px 0px #000;
    animation: appear 0.4s cubic-bezier(.85, 1.76, .75, .81);
}

.popup h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.popup p {
    font-size: 18px;
    margin-bottom: 20px;
}

.popup button {
    background-color: #ffffff;
    color: #000000;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border: 3px solid #000;
    box-shadow: 0px 3px 0px #000;
}

.popup button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 0px #000;
}

.popup button:active {
    transform: translateY(2px);
    box-shadow: 0px 1px 0px #000;
}

.popup-btn {
    padding: 15px;
    margin: 30px 0px;
    width: 50%;
    font-size: 15px;
    background: #7b4397;
    border-radius: 30px;
    font-weight: 800;
    box-shadow: 0px 3px 0px 0px #000;
}

.winLogo {
    width: 100%;
}

/* ... Vos autres styles ... */


@keyframes appear {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@media screen and (max-width: 1000px) {
    .gameCont {
        flex-direction: column;
        gap: 50px;
        align-items: center;
        width: fit-content;
        padding-bottom: 50px;
    }

    .players {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .players {
        grid-template-columns: repeat(1, 1fr);
        width: fit-content;
    }

    .board {
        grid-template-columns: repeat(4, 60px);
    }
}